@if(user){
<div class="dev">
    <h2>User Information</h2>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Name:</strong> {{ user.personalInfo.firstName }} {{ user.personalInfo.lastName }}</p>
    <p><strong>Date of Birth:</strong> {{ user.personalInfo.dob }}</p>
    <p><strong>Email:</strong> {{ user.personalInfo.email }}</p>
    <p><strong>Mobile:</strong> {{ user.personalInfo.mobile }}</p>
    <p><strong>Gender:</strong> {{ user.gender }}</p>
    <hr>
    <h3><b>Skills</b></h3>
    @for(skill of user.skills;track skill){
    <ul>
        <li>{{ skill }}</li>
    </ul>
    }

    <hr>

    <h3><b>Address</b></h3>
    <ul>
        @for(address of user.address;track address){
        <li>
            <p><strong>State:</strong> {{ address.state }}</p>
            <p><strong>District:</strong> {{ address.district }}</p>
            <p><strong>Location:</strong> {{ address.location }}</p>
        </li>
        }
    </ul>
</div>
<button (click)="goBack($event)">Go bacK</button>
}
@else{
    <div>User Data Doesn't Exist</div>
}
<!-- In Angular, FormGroup and FormBuilder are parts of the reactive forms module, which provides a 
model-driven approach to handling form inputs whose values change over time. -->
<!-- 
Key Differences
Boilerplate Code: FormBuilder reduces the amount of boilerplate 
code compared to creating instances of FormControl and FormGroup directly.
Initialization: With FormBuilder, you can use the group method to create a form group, which is more concise.
Use Cases
FormGroup: Use FormGroup when you need fine-grained control over 
the form's configuration or when working with a simple form.
FormBuilder: Use FormBuilder to streamline the creation of forms, especially when 
dealing with complex forms or when you prefer a more declarative approach. -->