/* styles.css or component's CSS file */
.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .invalid {
    border: 1px solid red;
  }
  
  button[disabled] {
    background-color: lightgray;
  }
  
  button {
    margin-top: 20px;
  }
  